Source: fixvirtenv
Priority: extra
Maintainer: Dominique Villard <dominique.villard@oarange.com>
Build-Depends: debhelper (>= 5), wget
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>

Package: fixvirtenv
Section: notif/misc
Architecture: all
Depends: ${misc:Depends}, python-virtualenv
Description: fix virtualenv usage when no internet access
 fix virtualenv usage when no internet access
